body {
   height: 100vh;
    background: rgb(230,110,255);
background: linear-gradient(180deg, rgba(230,110,255,1) 0%, rgba(130,132,251,1) 100%);

}

.main-div {
    border-radius: 25px;
    min-width:200px;
}

.box-image {
    left: -5rem;
    top :50%;
}

.card-body {
  color:rgb(230,110,255);
}